<!DOCTYPE html>
<html>
<head>
  <%- include('partials/html_head') %>
</head>
<body>
<div data-role="page">
  <%- include('partials/header') %>
  <div data-role="content" class="jqm-content" style="text-align:center;">
    <a href="/PF8200" data-ajax="false" class="ui-btn ui-btn-b">Send Transaction</a>
  </div>
  <%- include('partials/footer') %>
</div>
</body>
</html>
