<!DOCTYPE html>
<html>
<head>
  <%- include('partials/html_head') %>
</head>
<body>
<div data-role="page">
  <%- include('partials/header') %>
  <div data-role="content" class="jqm-content" style="text-align:center;">
    <form data-ajax="false" action="/PG1200" method="post">
      <fieldset>
        <div class="ui-field-contain">
          <label for="link_data">Link Data:</label>
          <textarea cols="40" rows="12" name="link_data" id="link_data"></textarea>
        </div>
        <div class="ui-field-contain">
          <label for="send">Send:</label>
          <button type="submit" id="send" class="ui-shadow ui-btn ui-corner-all ui-mini ui-btn-b">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
  <%- include('partials/footer') %>
</div>
</body>
</html>
